.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.localized
.bash_history
.bash_sessions
.viminfo
.ssh
.cache
.backup